# Data Science Tools  and Ecosystem

**some of the popular languages that Data Scientists used are**: 
***
1. python
1. SQL
1. Julia
1. php 
1. Go
1. visual basic

**some commonly used library used by Data Scientists include**:
***
- Tensor flow
- Numpy
- SciPy 
- pandas 
- matplotlib
- kearas
- scikit-Learn
- PyTorch

In this  notebook,  Data science Tools and  Ecosystem are summarised.

**Objectives:**

list of  languages  for  data science 

- python
- SQL
- R studio
- scala
- julia

|Data Science Tools |
|--------------------|
|jupyter|
|python|
|scala|

### Below  are few examples of  evaluating  arithmetic expression in Python

In [4]:
This is  a simple arithmetic expression to  multiply  then add integers
(3 * 4 ) + 5

17

In [3]:
This will  convert 200 minutes  to  hours by dividing  by 60

hours = 200 / 60
print(hours)

3.3333333333333335

## Author 
Jafar hassan